@import "mixins.scss";
@import 'https://fonts.googleapis.com/css?family=Lato:300,400';



$icon-font-path: '../fonts/';
// * {margin: 0; padding: 0;}
//
// // bower:scss
// @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  // background-color: #696969;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;
//   .btn {
//     font-size: 21px;
//     padding: 14px 24px;
//   }
// }

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//Front Page

section.hero {
  background:white;
  position: fixed;
  @include full-screen;
  padding:0;margin:0;
  z-index: -1;
  text-align: center;
  color: blue;

  // @include background("../images/beach.jpg");

  a{
    width:45px;
    height:50px;
    cursor: pointer;
    z-index: 9999;
      img{
        opacity:1;
        width:35px;
        z-index: 9999;
        @include desktop {
          width:50px;
          // margin:.5em 0;
          opacity: 1;
        }
      }
    }
}

.wrapper {
  text-align: center;
}

// .btn {
//   margin: 4em;
//   text-align: center;
//   // border-radius: 5px;
//   // font-size: 20px;
//   // padding: 14px 80px;
//   // cursor: pointer;
//   border: 1px solid black;
//   // transition-duration: 0.5s;
//   // -webkit-transition-duration: 0.5s;
//   // -moz-transition-duration: 0.5s;
// }

button {
  border-sizing: border-box;
  border: 2px solid black;
  position: absolute;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  top: 50%;
  // left: 20em;
  font-size: 5em;
  width: 10em;
  background-color: white;
  text-decoration: none;
    a:hover {
      text-decoration: none;
    }
}


.hero .container {
  display: block;
  text-align: center;
  vertical-align: middle;
  top: 80%;
    h1 {
      font-size: 10em;
    }
}

//Main Page

.content-container {
  background-color: #fff;
  width: 100%;
}

.nav {
  font-size: 2em;
  position: relative;
  padding: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.main-box {
  display: flex;
  margin: 0 auto;
    // @include mobile-lg {
    //   display: block;
    // }
}

.box {
  color: blue;
  padding: 1em;
  margin: 0 auto;
  display: grid;
  text-decoration: none;

    h1 {
      font-size: 5em;
      background-color: white;
      margin: auto;
      text-decoration: none;
    }


}

#one {
  width: 30em;
  height: 40em;
  display: block;
  background-color: blue;

  h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}

}
  // @include background("../images/collage.jpg");

.overlay {
    background-color: yellow;
    margin: 0 auto;

    a:hover {
      filter: opacity(0.2);
    }
}

#two {
  width: 30em;
  height: 40em;
  margin: 0 auto;
  @include background("../images/collage.jpg");

  a:hover {
    filter: opacity(0.6);
  }
}

//LEAVE FOR NOW-MORE TO DO -DESIGN

#four {
  width: 20em;
  height: 20em;
  float: left;
  margin: 3em;
  @include background("../images/collage.jpg");
    transition: .85;

}

#five {
  width: 20em;
  height: 20em;
  float: left;
  margin: 3em;
  @include background("../images/collage.jpg");
}

#six {
  width: 20em;
  height: 20em;
  float: left;
  margin: 3em;
  @include background("../images/noman.jpg");
    h1 {
      font-size: 5em;
      background-color: orange;
      margin: auto;
      color: white;
    }
}


//CONTACT PAGE

.sub-hero {
  background-size: cover;
  background-position: center;
  text-align: left;
}

.header {
  text-align: left;
}

.sub-header {
  text-align: left;
}

.content-container-two {
  background-color: white;
}

.description {
  text-align: left;
}

.inline-block {
  margin: 3em;
}

// html {
//   box-sizing: border-box;
// }
//
// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }
//
// html {
//   min-height: 100%;
// }
//
// body {
//   margin: 64px auto;
//   max-width: 640px;
//   width: 94%;
//   text-align: center;
// }


//lightbox
*{
  box-sizing: border-box;
}
html,
body{
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height:80%;
}
p {
  margin: 1em 0em 0em 0em;
}
.h {
  margin-top: 0;
}
